.container{
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name-section{
    font-size: 5px;
}
body{
    background-color: whitesmoke;
}
.profile-img {
    width: 75%; 
    height: 95%; 
    object-fit: cover;
}

.logo-img {
    max-width: 350px;
    height: auto;
}
#first-row{
    background-color: gray !important;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.overlay-text h1 {
    margin-bottom: 5px;
    font-size: 35px; 
    font-family: Arial, Helvetica, sans-serif;
}

.container h1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif; 
}

#container-bottom{
    padding-bottom: 50px;
}

#container-top{
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .overlay-text {
        font-size: 14px;
        top: 5px;
        left: 5px;
    }
    .profile-img {
        height: 100%; 
    }
}

